{# This is the layout template for error pages.  Note that there is no navigation bar. #}
{% extends "pages/abstract/base.html.twig" %}

{% block page_title %}{{ translate('ERROR.TITLE') }}{% endblock %}

{% block page_description %}{{ translate('ERROR.DESCRIPTION') }}{% endblock %}

{% block body_attributes %}
    class="hold-transition layout-top-nav"
{% endblock %}

{% block content %}
		<div class="wrapper">

			{% include "navigation/main-nav.html.twig" %}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<div class="content">
					<br />
					<div class="error-page container">
						{% block headline %}<h2 class="headline text-red"><i class="fas fa-terminal" aria-hidden="true"></i></h2>{% endblock %}

						<div class="error-content">
						  <br /><h3>{% block heading %}<i class="fas fa-warning text-red"></i> {{ translate('ERROR.ENCOUNTERED') }}{% endblock %}</h3>

						  {% block content2 %}
							  {% if messages %}<p>{{ translate('ERROR.DETAIL') }}</p>{% endif %}
							  {% for message in messages %}
								<div class="alert alert-danger">{{ translate(message.message, message.parameters) }}</div>
							  {% endfor %}
							  <p class="lead">{{ translate('ERROR.RETURN', {url : site.uri.public})|raw }}</p>
						  {% endblock %}
						</div>
						<!-- /.error-content -->
					</div>
					<!-- /.error-page -->
				</div>
			</div>
			<!-- ./content-wrapper -->
			{% block footer %}
				{% include "pages/partials/footer.html.twig" %}
			{% endblock %}
		</div>
		<!-- ./wrapper -->
{% endblock %}

{% block body_matter %}
    
{% endblock %}
