<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
		<div class="col-sm-12">	
			{% for evento in eventi %}
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="evento" id="evento-{{evento.id}}" value="{{evento.id}}" {% if evento.attivo %}checked{% endif %}>
				  <label class="form-check-label" for="evento-{{evento.id}}">
					{{evento.nome}} - {{evento.data}}
				  </label>
				</div>
			{% endfor %}
		</div>
	</div>
	<br>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-sm btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-sm btn-danger float-right" data-dismiss="modal">Annulla</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
