<!-- Main Footer -->
<footer class="main-footer">
	<!-- To the right -->
	<div class="float-right d-none d-sm-inline">
	  {{ __("BUILT_WITH_UF") | raw }} &middot;
      <a href="{{site.uri.public}}/legal">{{ __("TOS") }}</a> &middot;
      <a href="{{site.uri.public}}/privacy">{{ __("PRIVACY") }}</a>
	</div>
	<!-- Default to the left -->
	&copy; <a href="{{site.uri.public}}">{{site.title}}</a>, {{ "now"|date("Y") }}. <span class="hidden-xs">{{ __("ADMINLTE_THEME_BY") | raw }}.
</footer>