{% extends "pages.abstract.default" %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}COMANDA N. <b>{{comanda.n_ordine}}</b>{% endblock %}

{% block page_description %}{% endblock %}
{% block page_stylesheet %}
<style>
.container {
	max-width:100%!important;
}
</style>
{% endblock%}

{% block body_matter %}
<style>
.container {
	max-width:100%!important;
}
</style>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-primary card-outline">
				<div class="card-header">
					<h5 class="card-title m-0">Dati Comanda</h5>
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div style="text-align:center" class="col-md-2">
							<label for="comanda_id">N. Ordine</label>
							<input type="text" class="form-control" value="{{comanda.id}}" id="comanda_id" disabled>
						</div>
						<div style="text-align:center" class="col-md-3">
							<label for="cassiere">Nominativo</label>
							<input type="text" class="js-aggiorna form-control" value="{{comanda.nominativo}}" id="nominativo">
						</div>
						<div style="text-align:center" class="col-md-1">
							<label for="cassiere">Cassa</label>
							<input type="text" class="form-control" value="{{cassa.nome}}" id="cassa" disabled>
						</div>
						<div style="text-align:center" class="col-md-2">
							<label for="cassiere">Cassiere</label>
							<input type="text" class="form-control" value="{{cassiere.first_name}} {{cassiere.last_name}}" id="cassiere" disabled>
						</div>
						<div style="text-align:center" class="col-md-2">
							<label for="tavolo">Tavolo</label>
							<input type="text" class="js-aggiorna form-control" value="{{comanda.tavolo}}" id="tavolo">
						</div>
						<div style="text-align:center" class="col-md-1">
							<label for="asporto">Asporto</label>
							<input id="asporto" class="js-aggiorna form-control" name="asporto" type="checkbox" {% if comanda.asporto %} checked {%endif%}>
						</div>
						<div style="text-align:center" class="col-md-1">
							<label for="stato">Stato</label><br />
							{% if comanda.stato == "aperta"%}
								<span class="badge bg-danger">Aperta</span>
							{% elseif comanda.stato == "pagata"%}
								<span class="badge bg-success">Pagata</span>
							{% elseif comanda.stato == "compilata"%}
								<span class="badge bg-warning">Compilata</span>
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div style="text-align:center" class="col-md-12">
							<label for="note">Note</label>
							<textarea class="form-control js-aggiorna" id="note">{{comanda.note}}</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		{% for categoria in categorie1 %}
			<div class="card card-primary card-outline">
				<div class="card-header">
					<h5 class="card-title m-0">{{categoria.nome}}</h5>
				</div>
				<div class="card-body">
						<table class="table table-sm table-striped table-bordered">
						<tbody>
						{% for prodotto in categoria.prodotti %}
							<tr>
								<td style="vertical-align:middle; width:150px; text-align:center">
										
									<div class="input-group mb-0">
										<button tabindex="-1" class="btn btn-xs btn-primary mr-1 js-diminuisci" data-prodotto_id="{{prodotto.id}}" id="diminuisci-{{prodotto.id}}"><i class="fas fa-minus"></i></button>
										<input style="text-align: center" data-prezzo="{{prodotto.prezzo}}" data-prodotto_id="{{prodotto.id}}" class="js-quantita form-control {% if prodotto.nome == 'Coperto' %}coperto{% endif %}" value="{{prodotto.quantita}}" id="quantita-{{prodotto.id}}">
										<button tabindex="-1" class="btn btn-xs btn-primary ml-1 js-aumenta" data-prodotto_id="{{prodotto.id}}"><i class="fas fa-plus"></i></button>
									</div>										
								</td>
								<td style="vertical-align:middle;">{{prodotto.nome}} <small style="color:red">{{prodotto.conta_venduti()}}</small></td>
								<td style="width:70px; vertical-align:middle; text-align:right">{{prodotto.prezzo}} €</td>
								<td style="width:70px; vertical-align:middle; text-align:right" id="totale-prodotto-{{prodotto.id}}"></td>
								<td style="width:30px; vertical-align:middle; text-align:center" >
									<button id="button-note-prodotto-{{prodotto.id}}" data-prodotto_id="{{prodotto.id}}" class="button-note-prodotto btn-xs btn {% if prodotto.note %} btn-success {% else %} btn-primary {% endif %}">
										<i class="fas fa-edit"></i>
									</button>
								</td>
							</tr>
							<tr style="display:none" class="closed" id="tr-note-prodotto-{{prodotto.id}}">
								<td style="vertical-align:middle; text-align:right;" colspan="1">
									<b>Note Cucina</b>
								</td>
								<td style="vertical-align:middle" colspan="4">
									<input type="text" style="text-align: center" data-prodotto_id="{{prodotto.id}}" class="js-note-prodotto form-control" value="{{prodotto.note}}" id="note-prodotto-{{prodotto.id}}">
									
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{% endfor %}
		</div>
		<div class="col-md-6">
		{% for categoria in categorie2 %}
			<div class="card card-primary card-outline">
				<div class="card-header">
					<h5 class="card-title m-0">{{categoria.nome}}</h5>
				</div>
				<div class="card-body">
						<table class="table table-sm table-striped table-bordered">
						<tbody>
						{% for prodotto in categoria.prodotti %}
							<tr>
								<td style="vertical-align:middle; width:150px; text-align:center">
										
									<div class="input-group mb-0">
										<button class="btn btn-xs btn-primary mr-1 js-diminuisci" data-prodotto_id="{{prodotto.id}}" id="diminuisci-{{prodotto.id}}"><i class="fas fa-minus"></i></button>
										<input style="text-align: center" data-prezzo="{{prodotto.prezzo}}" data-prodotto_id="{{prodotto.id}}" class="js-quantita form-control {% if prodotto.nome == "Coperto" %}coperto{% endif %}" value="{{prodotto.quantita}}" id="quantita-{{prodotto.id}}">
										<button class="btn btn-xs btn-primary ml-1 js-aumenta" data-prodotto_id="{{prodotto.id}}"><i class="fas fa-plus"></i></button>
									</div>										
								</td>
								<td style="vertical-align:middle;">{{prodotto.nome}} <small style="color:red">{{prodotto.conta_venduti()}}</small></td>
								<td style="width:70px; vertical-align:middle; text-align:right">{{prodotto.prezzo}} €</td>
								<td style="width:70px; vertical-align:middle; text-align:right" id="totale-prodotto-{{prodotto.id}}"></td>
								<td style="width:30px; vertical-align:middle; text-align:center" >
									<button id="button-note-prodotto-{{prodotto.id}}" data-prodotto_id="{{prodotto.id}}" class="button-note-prodotto btn-xs btn {% if prodotto.note %} btn-success {% else %} btn-primary {% endif %}">
										<i class="fas fa-edit"></i>
									</button>
								</td>
							</tr>
							<tr style="display:none" class="closed" id="tr-note-prodotto-{{prodotto.id}}">
								<td style="vertical-align:middle; text-align:right;" colspan="1">
									<b>Note Cucina</b>
								</td>
								<td style="vertical-align:middle" colspan="4">
									<input type="text" style="text-align: center" data-prodotto_id="{{prodotto.id}}" class="js-note-prodotto form-control" value="{{prodotto.note}}" id="note-prodotto-{{prodotto.id}}">
									
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		{% endfor %}
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-primary card-outline">
				<div class="card-header">
					<h5 class="card-title m-0">Riepilogo e Totali</h5>
				</div>
				<div class="card-body">
					<div style="text-align:center; clear: both" class="mb-3">
					<a style="width:100%" class="btn btn-primary js-compila" >Salva Comanda e Calcola Totali</a>
					<small style="color:red;" class="">Salvare sempre dopo aver modificato le quantità dei prodotti sopra</small>
					</div>
					<h6><b>RIEPILOGO:</b></h6>
					<ul>
					{% for dettaglio in dettagli %}
					<li>
							{{dettaglio.quantita}} x {{dettaglio.prodotto.nome}} {% if dettaglio.note %}<b style="color:red">NOTE CUCINA: {{dettaglio.note}}</b>{% endif %}
					</li>
					{% endfor %}
					</ul>
					<div class="row mt-5 mb-0">
						<div style="text-align:center" class="col-md-2">
							<label for="subtotale">Subtotale</label>
							<div class="input-group mb-2">
								<input type="text" style="text-align:right" class="form-control" value="{{comanda.totale}}"id="subtotale" disabled>
								<div class="input-group-append">
								  <div class="input-group-text"><b>€</b></div>
								</div>
							</div>	
						</div>
						<div style="text-align:center" class="col-md-1">
							<label for="sconto">Sconto</label>
							<input type="text" style="text-align:right" class="form-control" value="{{comanda.sconto}}" id="sconto">
						</div>
						<div style="text-align:center" class="col-md-1">
							<label for="buoni">Buoni</label>
							<input type="text" style="text-align:right" class="form-control" value="{{comanda.buoni}}" id="buoni">
						</div>
						<div style="text-align:center" class="col-md-3">
							<label for="subtotale">Su Conto (da pagare dopo)</label>
							<div class="input-group mb-2">
								<input type="text" style="text-align:right" class="form-control" value="{{comanda.su_conto}}"id="su_conto">
								<div class="input-group-append">
								  <div class="input-group-text"><b>€</b></div>
								</div>
							</div>
							<div id="div-conto" style="display:none; text-align:left;">
							<select data-tags=true id="conto" name="conto" style="width:100%; " class="form-control">
							  <option disabled selected hidden>--Seleziona--</option>
							  {% for conto in conti %}
								<option value="{{conto.id}}" {% if comanda.conto_id == conto.id %}selected{%endif%}>{{conto.nome}}</option>
							  {% endfor %}
							</select>
							</div>
						</div>
						<div style="text-align:center" class="col-md-2">
							<label for="totale_da_pagare">Da pagare</label>
							<div class="input-group mb-2">
							{% set tot_da_pag = comanda.totale - comanda.sconto - comanda.buoni - comanda.su_conto %}
								<input type="text" style="text-align:right" class="form-control" value="{{tot_da_pag|number_format(2)}}" id="totale_da_pagare" disabled>
								<div class="input-group-append">
								  <div class="input-group-text"><b>€</b></div>
								</div>
							</div>	
						</div>
						<div style="text-align:center" class="col-md-1">
							<label for="pagato">Pagato</label>
							<input type="text" style="background-color:yellow; text-align:right" class="form-control" value="{{comanda.pagato}}" id="pagato">
						</div>
						<div style="text-align:center" class="col-md-1">
							<label for="pagato">Contanti</label>
							<input type="text" style="background-color:yellow; text-align:right" class="form-control" id="contanti">
						</div>
						<div style="text-align:center" class="col-md-1">
							<label for="pagato">Resto</label>
							<input type="text" style="text-align:right" class="form-control" id="resto" disabled>
						</div>
					</div>
					<div style="text-align:center; clear: both" class="mt-2 mb-2" id="errori">
						
					</div>					
					<div style="text-align:center; clear: both" class="mt-3">
						<button style="width:100%" class="btn btn-success js-invia" >Salva Dati Pagamento e Stampa Tutto</button>
					</div>
				</div>
					
				<div class="card-footer">
					<div class="col-md-12" style="text-align:center">
						<button class="btn btn-xs btn-success js-invia-senza-stampa" >Inserisci Pagamento senza nessuna stampa</button>
						<button class="btn btn-xs btn-success js-stampa" data-comanda_id={{comanda.id}} data-tipo="tutto_in_cassa_attiva">Stampa tutto solo in cassa attiva</button>
						<button class="btn btn-xs btn-success js-invia" >Inserisci Pagamento e Stampa</button>
						<button class="btn btn-xs btn-success js-stampa" data-comanda_id={{comanda.id}} data-tipo="tutto">Stampa Scontrino + Comande</button>
						<button class="btn btn-xs btn-success js-stampa" data-comanda_id={{comanda.id}} data-tipo="scontrino-con-postazioni">Stampa solo scontrino</button>
						<button class="btn btn-xs btn-success js-stampa" data-comanda_id={{comanda.id}} data-tipo="postazioni">Stampa solo postazioni</button>
						<button class="btn btn-xs btn-danger js-invia-messaggio" >Invia Messaggio a Cassa</button>	
						<button class="btn btn-xs btn-primary js-apri-cassetto" >Apri Cassetto</button>						
					</div>
					<div class="col-md-12 mt-3" style="text-align:center">
						<a class="btn btn-secondary js-nuova-comanda">+ Nuova Comanda</a>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	
{% endblock %}



{% block scripts_page %}
    <script>
	var ordine = []
	function calcolaTotale(){
		var tot = 0;
		ordine = [];
		$(".js-quantita").each(function(){
			var prodotto_id = $(this).data('prodotto_id');
			var prezzo = $(this).data('prezzo');
			var note = $("#note-prodotto-"+prodotto_id).val();
			var quantita = $(this).val();
			var totale = prezzo * quantita;
			tot += totale;
			if (totale != 0)
				$("#totale-prodotto-"+prodotto_id).html("<b>"+totale.toFixed(2)+ " €"+"</b>");
			else
				$("#totale-prodotto-"+prodotto_id).html("");
			if (quantita != 0){
				ogg = {
					prodotto_id: prodotto_id,
					quantita: quantita,
					note: note
				}
				ordine.push(ogg);
			}
		});
		$("#totale_provvisorio").val(tot.toFixed(2)+" €");
	}
	function cambiaClassePulsanti(){
		$(".js-note-prodotto").each(function(){
			var prodotto_id = $(this).data('prodotto_id');
			
			if ($(this).val()== ''){
				$("#button-note-prodotto-"+prodotto_id).removeClass('btn-success');
				$("#button-note-prodotto-"+prodotto_id).addClass('btn-primary');
			}
			else {
				$("#button-note-prodotto-"+prodotto_id).addClass('btn-success');
				$("#button-note-prodotto-"+prodotto_id).removeClass('btn-primary');
			}
			
			
		});
		
	}
	function calcolaTotaleDaPagare(){
		var tot_da_pag = $("#subtotale").val()-$("#sconto").val()-$("#buoni").val()-$("#su_conto").val();
		$("#totale_da_pagare").val(tot_da_pag.toFixed(2));
		var resto = $("#contanti").val()-tot_da_pag;
		if (resto > 0)
			$("#resto").val(resto.toFixed(2));
		controllaErrori();
	}
	
	function controllaErrori(){
		var errori = [];
		var errori_bloccanti = [];
		
		if ($("#asporto").is(':checked') && $(".coperto").val()!="")
			errori.push("Hai inserito dei coperti, mentre la comanda è un asporto!");
		else if ( (!$("#asporto").is(':checked') && $("#tavolo").val() == ''))
			errori_bloccanti.push("Non hai inserito il numero del tavolo!");
		
		if ($("#pagato").val() - $("#totale_da_pagare").val()!=0)
			errori_bloccanti.push("Il campo 'Da Pagare' e 'Pagato' devono coincidere!");
		
		var html = '';
		errori.forEach(function(item){
			html += '<div class="mb-1" style="background-color:orange; color:white; width:100%; text-align:center"><b>'+item+'</b></div>';
		});
		errori_bloccanti.forEach(function(item){
			html += '<div class="mb-1" style="background-color:red; color:white; width:100%; text-align:center"><b>'+item+'</b></div>';
		});
		$("#errori").html(html);
		if (errori_bloccanti.length > 0) {
			$(".js-stampa").prop("disabled",true);
			$(".js-invia").prop("disabled",true);
		}
		else{
			$(".js-stampa").prop("disabled",false);
			$(".js-invia").prop("disabled",false);
		}
		
	}
	
	$(document).ready(function() {	
		calcolaTotale();
		calcolaTotaleDaPagare();
		cambiaClassePulsanti();
		$("#conto").select2({
		  tags: true,
		  selectOnClose: true
		});
		if ($("#su_conto").val()){
			$("#div-conto").show();
		}
		$(".js-diminuisci").each(function(){
			var prodotto_id = $(this).data("prodotto_id");
			if (!$("#quantita-"+prodotto_id).val())
				$("#diminuisci-"+prodotto_id).prop('disabled',true);
		});
		
		$(".js-aumenta").on('click',function(){
			var prodotto_id = $(this).data("prodotto_id");
			if ($("#quantita-"+prodotto_id).val())
				$("#quantita-"+prodotto_id).val(parseInt($("#quantita-"+prodotto_id).val())+1).trigger('input');
			else{
				$("#quantita-"+prodotto_id).val(1).trigger('input');
				$("#diminuisci-"+prodotto_id).prop('disabled',false);
			}
		});
		$(".js-diminuisci").on('click',function(){
			var prodotto_id = $(this).data("prodotto_id");
			if ($("#quantita-"+prodotto_id).val()>1)
				$("#quantita-"+prodotto_id).val(parseInt($("#quantita-"+prodotto_id).val())-1).trigger('input');
			else {
				$("#quantita-"+prodotto_id).val("").trigger('input');
				$("#diminuisci-"+prodotto_id).prop('disabled',true);
			}
		});
		
		
		$(".js-quantita").on('input',function(e) {
			calcolaTotale();
		});
		$("#tavolo").on('input',function(e) {
			calcolaTotaleDaPagare();
		});
		$("#asporto").on('change',function(e) {
			calcolaTotaleDaPagare();
		});
		
		$("#sconto").on('input',function(e) {
			calcolaTotaleDaPagare();
		});
		$("#su_conto").on('input',function(e) {
			calcolaTotaleDaPagare();
		});
		$("#buoni").on('input',function(e) {
			calcolaTotaleDaPagare();
		});
		$("#contanti").on('input',function(e) {
			calcolaTotaleDaPagare();
		});
		$("#pagato").on('input',function(e) {
			calcolaTotaleDaPagare();
		});
		$(".js-note-prodotto").on('input',function(e) {
			cambiaClassePulsanti();
		});
		$("#su_conto").on('input',function(e) {
			if ($("#su_conto").val())
				$("#div-conto").show();
			else
				$("#div-conto").hide();
		});
		
		$(".js-nuova-comanda").click(function(e) {
			$("body").ufModal({
				sourceUrl: site.uri.public + "/modals/comande/nuova-comanda",
				msgTarget: $("#alerts-page")
			});
			$("body").on('renderSuccess.ufModal', function() {
				var modal = $(this).ufModal('getModal');
				var form = modal.find('.js-form');
				form.ufForm()
					.on("submitSuccess.ufForm", function(event, data, textStatus, jqXHR) {
						document.location.href = site.uri.public+'/comanda/'+data[0];
					});
			});
        });

		$(".js-invia-messaggio").click(function(e) {
			$("body").ufModal({
				sourceUrl: site.uri.public + "/modals/comande/invia-messaggio-cassa",
				msgTarget: $("#alerts-page")
			});
			$("body").on('renderSuccess.ufModal', function() {
				var modal = $(this).ufModal('getModal');
				var form = modal.find('.js-form');
				form.ufForm()
					.on("submitSuccess.ufForm", function(event, data, textStatus, jqXHR) {
						alert("Messaggio Inviato!");
					});
			});
        });

	
		$(".js-elimina-comanda").click(function(e) {
			$("body").ufModal({
				sourceUrl: site.uri.public + "/modals/comande/elimina-comanda/"+$(this).data('comanda_id'),
				msgTarget: $("#alerts-page")
			});
			$("body").on('renderSuccess.ufModal', function() {
				var modal = $(this).ufModal('getModal');
				var form = modal.find('.js-form');
				form.ufForm()
					.on("submitSuccess.ufForm", function(event, data, textStatus, jqXHR) {
						window.location.reload();
					});
			});
        });
		
		$(".js-compila").click(function(e) {
			calcolaTotale();
			$.ajax({
				type: "POST",
				url: site.uri.public+"/api/comande/compila-comanda/"+{{comanda.id}},
				data: {csrf_name: site.csrf.name, csrf_value: site.csrf.value, ordine: JSON.stringify(ordine)},
				success:function(data){
					window.location.reload();
				},
				error:function(data){
					alert("Si è verificato un errore...");
				}
			});
		});
		$(".js-aggiorna").on('change',function(e) {
			var campo = $(this).attr("id");
			var valore = $(this).val();
			if (campo == "asporto"){
				if($(this).is(':checked'))
					valore = 1;
				else
					valore = 0;
			}
			if (campo){
				$.ajax({
					type: "POST",
					url: site.uri.public+"/api/comande/aggiorna/"+campo+"/"+{{comanda.id}},
					data: {csrf_name: site.csrf.name, csrf_value: site.csrf.value, valore: valore},
					error:function(data){
						alert("Si è verificato un errore nell'aggiornare il campo "+campo);
					}
				});
			}
		});
		$(".js-stampa").click(function(e) {
			$.ajax({
				type: "POST",
				url: site.uri.public+"/api/comanda/"+$(this).data("comanda_id")+"/stampa/"+$(this).data("tipo"),
				data: {
					csrf_name: site.csrf.name, 
					csrf_value: site.csrf.value, 
				},
				error:function(data){
					alert("Si è verificato un errore...");
				}
			});
		});

		$(".js-apri-cassetto").click(function(e) {
			$.ajax({
				type: "POST",
				url: site.uri.public+"/api/comande/apri-cassetto",
				data: {
					csrf_name: site.csrf.name, 
					csrf_value: site.csrf.value, 
				},
				error:function(data){
					alert("Si è verificato un errore...");
				}
			});
		});
		
		$(".js-invia").click(function(e) {
			var sconto = null;
			if ($("#sconto").val())
				sconto = $("#sconto").val();
			var buoni = null;
			if ($("#buoni").val())
				buoni = $("#buoni").val();
			var pagato = $("#pagato").val();
			
			var su_conto = null;
			var conto = null;
			var conto_new = null;
			if ($("#su_conto").val()){
				su_conto = $("#su_conto").val();
				if ($("#conto").val())
					conto = $("#conto").val();
				
				else{
					alert("E' necessario selezionare il conto su cui caricare l'importo!");
					exit();
				}
			}
			$.ajax({
				type: "POST",
				url: site.uri.public+"/api/comande/invia-comanda/"+{{comanda.id}},
				data: {
					csrf_name: site.csrf.name, 
					csrf_value: site.csrf.value, 
					sconto: sconto,
					buoni: buoni,
					pagato: pagato,
					su_conto: su_conto,
					conto: conto,
					conto_new: conto_new
				},
				success:function(data){
					$.ajax({
						type: "POST",
						url: site.uri.public+"/api/comanda/{{comanda.id}}/stampa/tutto",
						data: {
							csrf_name: site.csrf.name, 
							csrf_value: site.csrf.value, 
						},
						error:function(data){
							alert("Si è verificato un errore nella stampa...");
						}
					});	
					//window.open(site.uri.public + "/comanda/" + {{comanda.id}} + "/pdf","_blank");
					//window.location.href= site.uri.public + "/comande";
				},
				error:function(data){
					alert("Si è verificato un errore nel salvataggio del pagamento...");
				}
			});
			
			
		});
		
		$(".js-invia-senza-stampa").click(function(e) {
			var sconto = null;
			if ($("#sconto").val())
				sconto = $("#sconto").val();
			var buoni = null;
			if ($("#buoni").val())
				buoni = $("#buoni").val();
			var pagato = $("#pagato").val();
			
			var su_conto = null;
			var conto = null;
			var conto_new = null;
			if ($("#su_conto").val()){
				su_conto = $("#su_conto").val();
				if ($("#conto").val())
					conto = $("#conto").val();
				
				else{
					alert("E' necessario selezionare il conto su cui caricare l'importo!");
					exit();
				}
			}
			$.ajax({
				type: "POST",
				url: site.uri.public+"/api/comande/invia-comanda/"+{{comanda.id}},
				data: {
					csrf_name: site.csrf.name, 
					csrf_value: site.csrf.value, 
					sconto: sconto,
					buoni: buoni,
					pagato: pagato,
					su_conto: su_conto,
					conto: conto,
					conto_new: conto_new
				},
				success:function(data){
					alert("Pagamento salvato. ATTENZIONE: non sono stati stampati scontrini!");
				},
				error:function(data){
					alert("Si è verificato un errore nel salvataggio del pagamento...");
				}
			});
			
			
		});
		
		
		$(".button-note-prodotto").click(function(e) {
			var prodotto_id = $(this).data("prodotto_id");
			if ($("#tr-note-prodotto-"+prodotto_id).hasClass("closed")){
				$("#tr-note-prodotto-"+prodotto_id).show();
				$("#tr-note-prodotto-"+prodotto_id).addClass("opened");
				$("#tr-note-prodotto-"+prodotto_id).removeClass("closed");
			}
			else if ($("#tr-note-prodotto-"+prodotto_id).hasClass("opened")){
				$("#tr-note-prodotto-"+prodotto_id).hide();
				$("#tr-note-prodotto-"+prodotto_id).addClass("closed");
				$("#tr-note-prodotto-"+prodotto_id).removeClass("opened");
			}

        });
		

	});
    </script>
{% endblock %}
